@charset "UTF-8";
/* barlow-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 100;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 100;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 200;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 300;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 400;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 500;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 600;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 700;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 800;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 900;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 100;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 200;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 200;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 300;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 500;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 800;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 900;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 100;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 200;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 200;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 300;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 500;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 800;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 900;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.footer .container {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.c-f-red {
  color: #e05976;
}

.gradient-border-shadow {
  position: relative;
}
.gradient-border-shadow > * {
  position: relative;
  z-index: 5;
}
.gradient-border-shadow::after, .gradient-border-shadow::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.gradient-border-shadow::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 2;
}
.gradient-border-shadow::after {
  z-index: 3;
  background-color: #f6f6f6;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.gradient-border-shadow::after, .gradient-border-shadow::before {
  top: 15%;
  left: 15%;
}

html {
  font-size: 18px;
  letter-spacing: -0.35px;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
}

body {
  font-family: "Barlow";
  line-height: 1.5;
  font-weight: 300;
  font-size: 21px;
  letter-spacing: -0.35px;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 17px;
    letter-spacing: -0.28px;
  }
}

.module__heading {
  line-height: 1.2;
  font-family: "Barlow Semi Condensed";
  font-size: 48px;
  letter-spacing: -0.35px;
  font-weight: 300;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 600px) {
  .module__heading {
    font-size: 30px;
    letter-spacing: -0.28px;
  }
}
.module .strong {
  font-weight: 600;
}

.custom-svg-icon-wp {
  background-image: url("/asset/icons/wp.svg");
  height: 45px;
  width: 45px;
}

.custom-svg-icon-leaflet {
  background-image: url("/asset/icons/leaflet.svg");
  height: 45px;
  width: 45px;
  background-size: cover;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #f6f6f6;
  color: #3c3c3c;
}

a {
  color: inherit;
}

section.module {
  border: solid 1px red;
}
section.module .container {
  border: solid 1px green;
}

.module {
  margin: 10px auto;
  position: relative;
  z-index: 10;
  max-width: 1600px;
  overflow: hidden;
}
.module__heading {
  margin-bottom: 2.5rem;
}

.container {
  max-width: 1140px;
  margin: 40px auto;
}
@media screen and (max-width: 1250px) {
  .container {
    padding: 0 3%;
  }
}

img {
  width: 100%;
  display: block;
}

ul,
li {
  list-style-type: none;
}

.bg-black {
  background-color: #000000;
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

.column-3 {
  display: flex;
}
.column-3-1 {
  width: 33.33%;
}
.column-3-2 {
  width: 66.66%;
  padding-left: 3rem;
}

.column-2 {
  display: flex;
}
.column-2 > * {
  width: 50%;
}

.bg-black {
  color: #fff;
}
.bg-black.module {
  background: #000000;
}
.bg-black .gradient-border-shadow {
  position: relative;
}
.bg-black .gradient-border-shadow > * {
  position: relative;
  z-index: 5;
}
.bg-black .gradient-border-shadow::after, .bg-black .gradient-border-shadow::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.bg-black .gradient-border-shadow::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 2;
}
.bg-black .gradient-border-shadow::after {
  z-index: 3;
  background-color: #000000;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.bg-black .gradient-border-shadow::after, .bg-black .gradient-border-shadow::before {
  top: 15%;
  left: 15%;
}
.bg-black .btn-empty {
  background-color: #000000;
}

.btn {
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  padding: 0.55em 2.2em;
  width: fit-content;
  cursor: pointer;
  background-color: #f6f6f6;
  position: relative;
  box-sizing: border-box;
  background-color: #f6f6f6;
  background-clip: padding-box; /* !importanté */
  border: solid 2px transparent; /* !importanté */
  border-radius: 15px;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(200deg, #e05976, #9a60c2);
}

.hamburger__checkbox {
  display: none;
}
.hamburger__button {
  display: block;
  height: 30px;
  aspect-ratio: 1/1;
  z-index: 2;
  cursor: pointer;
}
.hamburger__icon {
  position: relative;
  display: block;
  top: 50%;
}
.hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
  width: 30px;
  height: 3px;
  background-color: black;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 20px;
}
.hamburger__icon {
  transition-duration: 0.1s;
}
.hamburger__icon::before, .hamburger__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.8s;
}
.hamburger__icon::before {
  top: -9px;
}
.hamburger__icon::after {
  top: 9px;
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
  background-color: transparent;
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
  top: 0;
  transform: rotate(-45deg);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo-box {
  width: 207px;
  margin-left: 0;
}
.header .navigation {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background-color: aquamarine;
  left: -390px;
  width: 1920px;
  height: 3000px;
  z-index: 40;
  display: none;
}
.header .navigation > * {
  width: 1140px;
  margin: auto;
  padding: 1rem 5%;
}
.header .hamburger__checkbox:checked ~ .navigation {
  display: block;
}

.footer {
  background-color: #000000;
}
.footer .container {
  margin-bottom: 0;
}

.hero .container {
  display: flex;
  flex-direction: row;
  column-gap: unset;
  justify-content: space-between;
}
.hero .container .content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: unset;
  width: 55%;
}
.hero .container .picture-wrapper {
  width: 380px;
}
@media screen and (max-width: 900px) {
  .hero .container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .hero .container .picture-wrapper {
    order: 1;
    max-width: 380px;
    width: 60vw;
    margin-left: auto;
  }
  .hero .container .picture-wrapper img {
    transform: translateX(10%);
  }
  .hero .container .content-wrapper {
    order: 2;
    width: 100%;
  }
}

.image-text .container {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}
.image-text .text-wrapper,
.image-text .image-wrapper {
  width: calc(50% - 0.75rem);
}
.image-text.image-first .image-wrapper {
  order: 1;
}
.image-text.image-first .text-wrapper {
  order: 2;
}
.image-text.text-first .text-wrapper {
  order: 1;
}
.image-text.text-first .image-wrapper {
  order: 2;
}
.image-text .image-wrapper {
  position: relative;
}
.image-text .image-wrapper .image {
  display: block;
  width: 84%;
  aspect-ratio: 6/4;
  height: auto;
}
.image-text .image-wrapper .image img {
  border-radius: 15px;
}
.image-text .image-wrapper picture {
  position: absolute;
  z-index: 10;
}
.image-text .text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: unset;
}
@media screen and (max-width: 900px) {
  .image-text .container {
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
  }
  .image-text .container .image-wrapper {
    margin: auto;
    transform: translateX(10vw);
    width: unset;
    margin-bottom: 35.84px;
  }
  .image-text .container .image-wrapper .image {
    width: 448px;
  }
  .image-text .container .image-wrapper .gradient-border-shadow::after,
  .image-text .container .image-wrapper .gradient-border-shadow::before {
    top: 12%;
    left: -27%;
  }
  .image-text .container .text-wrapper {
    width: 100%;
  }
}

.features {
  color: #fff;
  padding-top: 130px;
  height: 1700px;
}
.features .module__heading {
  text-align: center;
}
.features .module__content {
  display: flex;
  flex-direction: row;
  column-gap: unset;
  row-gap: 40px;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .feature {
  width: 360px;
  padding: 30px 20px;
  position: relative;
  font-size: 18px;
  letter-spacing: -0.35px;
}
.features .feature > * {
  position: relative;
  z-index: 15;
}
.features .feature::after, .features .feature::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.features .feature::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 12;
}
.features .feature::after {
  z-index: 13;
  background-color: #000000;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .features .feature {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
}
.features .feature__icon {
  height: 45px;
  width: 45px;
  margin-bottom: 25px;
}
.features .feature .heading {
  margin-bottom: 20px;
  font-weight: 500;
}
.features .feature .text {
  font-weight: 300;
  line-height: 1.38;
}
@media screen and (max-width: 1250px) {
  .features .module__content {
    justify-content: space-around;
  }
  .features .feature {
    width: 45%;
  }
}
@media screen and (max-width: 600px) {
  .features .module__content {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    flex-direction: column;
    row-gap: 25px;
  }
  .features .feature {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
  }
  .features .feature__icon {
    flex-shrink: 0;
    display: flex;
    margin-bottom: 0px;
  }
  .features .feature__content .heading {
    margin-bottom: 0px;
  }
}

.blocks {
  font-size: 18px;
  letter-spacing: -0.35px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .blocks {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
}
.blocks .module__heading {
  text-align: center;
}
.blocks ul {
  width: 110%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -5%;
  text-align: center;
  overflow: hidden;
}
.blocks li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60px;
  padding: 10px 35px;
  line-height: 1.33;
  position: relative;
  margin-bottom: 2.5em;
}
.blocks li:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  right: -2px;
  background: linear-gradient(200deg, #e05976, #9a60c2);
}
.blocks li img {
  object-fit: contain;
  height: 100%;
}
.blocks.long-block li {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 25%;
  height: auto;
}
.blocks.long-block li .number {
  font-size: 80px;
  font-weight: 200;
  /* Fallback: Set a background color. */
  background-color: #e05976;
  /* Create the gradient. */
  background-image: linear-gradient(200deg, #e05976, #9a60c2);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.blocks.long-block li .text {
  font-weight: 600;
}
@media screen and (max-width: 1250px) {
  .blocks li {
    width: 25%;
  }
}
@media screen and (max-width: 900px) {
  .blocks li {
    width: 33.33%;
  }
}

.text-features .feature {
  font-family: "Barlow Semi Condensed";
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  position: relative;
}
.text-features .feature__icon {
  width: 50px;
}
.text-features .feature__icon img {
  border-radius: 0;
}
.text-features .feature__content {
  width: 460px;
}
.text-features .feature:not(:last-child)::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: yellow;
  background: linear-gradient(200deg, #e05976, #9a60c2);
}
@media screen and (max-width: 900px) {
  .text-features .container {
    flex-direction: column;
  }
  .text-features .container .module__heading {
    text-align: center;
  }
  .text-features .container > * {
    width: 100%;
    padding: 0;
  }
  .text-features .feature {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
    padding: 20px 30px;
  }
  .text-features .feature__icon {
    flex-shrink: 0;
    display: flex;
    margin-bottom: 0px;
  }
  .text-features .feature__content .heading {
    margin-bottom: 0px;
  }
}

.project-slider .container {
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
}
.project-slider .slide {
  width: 560px;
  aspect-ratio: 1.3/1;
  border-radius: 15px;
  background-color: #191919;
  overflow: hidden;
  position: relative;
  padding-left: 27px;
  padding-top: 36px;
  color: white;
  font-family: "Barlow Semi Condensed";
}
@media screen and (max-width: 900px) {
  .project-slider .slide {
    width: unset;
  }
}
.project-slider .slide__title {
  font-weight: 600;
}
.project-slider .slide__image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 8%;
  transform: rotate(-10deg);
}
.project-slider .slide__image img {
  border-radius: 0;
}
.project-slider .slide.active {
  position: relative;
}
.project-slider .slide.active > * {
  position: relative;
  z-index: 5;
}
.project-slider .slide.active::after, .project-slider .slide.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.project-slider .slide.active::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 2;
}
.project-slider .slide.active::after {
  z-index: 3;
  background-color: #191919;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.project-slider .slide.active .slide__image {
  position: absolute;
}
.project-slider .swiper-slide-active .slide {
  position: relative;
  box-shadow: 0 0 10px 5px rgb(184, 183, 183);
}
.project-slider .swiper-slide-active .slide > * {
  position: relative;
  z-index: 5;
}
.project-slider .swiper-slide-active .slide::after, .project-slider .swiper-slide-active .slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.project-slider .swiper-slide-active .slide::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 2;
}
.project-slider .swiper-slide-active .slide::after {
  z-index: 3;
  background-color: #191919;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.project-slider .swiper-slide-active .slide .slide__image {
  position: absolute;
}
.project-slider .swiper-slide {
  width: fit-content;
  margin-top: 20px;
  --add-bottom: 50px;
  padding-bottom: var(--add-bottom);
}
.project-slider .swiper-slide [class^=swiper-button-] {
  top: calc(50% - var(--add-bottom) / 2);
}
.project-slider .swiper-pagination {
  border-radius: 100%;
  --swiper-pagination-color: #e05976;
  --swiper-pagination-bullet-horizontal-gap: 5px;
}
.project-slider .swiper-pagination-bullet {
  color: #3c3c3c;
  opacity: 1;
}
.project-slider .swiper-button-next,
.project-slider .swiper-button-prev {
  --swiper-navigation-size: 24px;
  bottom: 5px;
  top: unset;
  color: #3c3c3c;
  z-index: 11;
}
.project-slider .swiper-button-next {
  right: calc(50% - 150px);
}
.project-slider .swiper-button-prev {
  left: calc(50% - 150px);
}

/*# sourceMappingURL=style.css.map */
