@charset "UTF-8";
/* barlow-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 100;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 100;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 200;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 300;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 400;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 500;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 600;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 700;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 800;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: italic;
  font-weight: 900;
  src: url("../asset/fonts/barlow-v12-latin/barlow-v12-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 100;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 200;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 200;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 300;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 500;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 800;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Condensed";
  font-style: italic;
  font-weight: 900;
  src: url("../asset/fonts/barlow-condensed-v12-latin/barlow-condensed-v12-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 100;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 200;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 200;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 300;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 500;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 800;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: italic;
  font-weight: 900;
  src: url("../asset/fonts/barlow-semi-condensed-v15-latin/barlow-semi-condensed-v15-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-inherit {
  font-weight: inherit;
}

.fs-d-big {
  font-size: 48px;
}

.fs-d-normal {
  font-size: 21px;
}

.fs-d-small {
  font-size: 18px;
}

.module {
  font-family: "Barlow";
  font-weight: 300;
}
.module__heading {
  line-height: 1.2;
  font-family: "Barlow Semi Condensed";
  font-weight: inherit;
  font-size: 48px;
}

.gradient-border-shadow {
  position: relative;
}
.gradient-border-shadow > * {
  position: relative;
  z-index: 5;
}
.gradient-border-shadow::after, .gradient-border-shadow::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.gradient-border-shadow::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 2;
}
.gradient-border-shadow::after {
  z-index: 3;
  background-color: #f6f6f6;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.gradient-border-shadow::after, .gradient-border-shadow::before {
  top: 15%;
  left: 15%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #f6f6f6;
  color: #3c3c3c;
  font-size: 21px;
}

section.module {
  border: solid 1px red;
}
section.module .container {
  border: solid 1px green;
}

.module {
  margin: 300px auto;
  position: relative;
  z-index: 10;
  font-family: "Barlow";
  font-weight: 300;
  max-width: 1600px;
}
.module__heading {
  line-height: 1.2;
  font-family: "Barlow Semi Condensed";
  font-weight: inherit;
  font-size: 48px;
}

.container {
  max-width: 1140px;
  margin: 40px auto;
}

img {
  width: 100%;
  display: block;
  border-radius: 15px;
}

ul,
li {
  list-style-type: none;
}

.column-3 {
  display: flex;
}
.column-3-1 {
  width: 33.33%;
}
.column-3-2 {
  width: 66.66%;
  padding-left: 3rem;
}

html {
  font-size: 16px;
}

body {
  font-family: "Barlow";
  line-height: 1.5;
  font-size: 21px;
}

h1 {
  font-size: 48px;
}

.custom-svg-icon-wp {
  background-image: url("/asset/icons/wp.svg");
  height: 45px;
  width: 45px;
}

.custom-svg-icon-leaflet {
  background-image: url("/asset/icons/leaflet.svg");
  height: 45px;
  width: 45px;
  background-size: cover;
}

.btn {
  text-decoration: none;
  color: inherit;
  font-family: "Barlow";
  font-weight: 600;
  display: inline-block;
  padding: 0.55em 2.2em;
  width: fit-content;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  background: #f6f6f6;
  background-clip: padding-box; /* !importanté */
  border: solid 2px transparent; /* !importanté */
  border-radius: 15px;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(200deg, #e05976, #9a60c2);
}

.hero .content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.hero .container {
  display: flex;
  flex-direction: row;
  column-gap: unset;
  justify-content: space-between;
}
.hero .container .content-wrapper {
  width: 55%;
}
.hero .container .picture-wrapper {
  width: 30%;
}

.image-text .container {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}
.image-text .text-wrapper, .image-text .image-wrapper {
  width: calc(50% - 0.75rem);
}
.image-text--image-first .image-wrapper {
  order: 1;
}
.image-text--image-first .text-wrapper {
  order: 2;
}
.image-text--text-first .text-wrapper {
  order: 1;
}
.image-text--text-first .image-wrapper {
  order: 2;
}
.image-text .image-wrapper {
  position: relative;
}
.image-text .image-wrapper .image {
  display: block;
  width: 84%;
  aspect-ratio: 6/4;
  height: auto;
}
.image-text .image-wrapper picture {
  position: absolute;
  z-index: 10;
}
.image-text .text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: unset;
}
.image-text .text-wrapper .heading {
  padding-bottom: 2.5rem;
}
.image-text .text-wrapper p:not(:last-child) {
  padding-bottom: 2rem;
}

.features {
  color: #fff;
  padding-top: 130px;
  background-image: url("/asset/img/feature_bg.svg");
  height: 1700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.features h3.heading {
  font-size: 48px;
}
.features .feature {
  font-size: 18px;
  width: 360px;
  position: relative;
}
.features .feature-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: unset;
  row-gap: 40px;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .feature .icon {
  margin-bottom: 25px;
}
.features .feature .heading {
  margin-bottom: 20px;
  font-weight: 500;
}
.features .feature .text {
  font-weight: 300;
  line-height: 1.38;
}
.features .feature > * {
  position: relative;
  z-index: 15;
}
.features .feature::after, .features .feature::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.features .feature::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 12;
}
.features .feature::after {
  z-index: 13;
  background-color: #000000;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.features .feature .content {
  padding: 30px 20px;
}
@media screen and (max-width: 1250px) {
  .features .feature-wrapper {
    justify-content: space-around;
  }
  .features .feature {
    width: 45%;
  }
}

.blocks {
  font-weight: 500;
}
.blocks .module__heading {
  text-align: center;
  padding-bottom: 3.5rem;
}
.blocks ul {
  width: 110%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2.5rem;
  margin-left: -5%;
  text-align: center;
  overflow: hidden;
}
.blocks li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60px;
  padding: 10px 35px;
  line-height: 1.33;
  position: relative;
}
.blocks li:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  right: -2px;
  background: linear-gradient(200deg, #e05976, #9a60c2);
}
.blocks li img {
  object-fit: contain;
  height: 100%;
}

.text-features .feature {
  font-family: "Barlow Semi Condensed";
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  position: relative;
}
.text-features .feature__icon {
  width: 50px;
}
.text-features .feature__icon img {
  border-radius: 0;
}
.text-features .feature__content {
  width: 460px;
}
.text-features .feature:not(:last-child)::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: yellow;
  background: linear-gradient(200deg, #e05976, #9a60c2);
}

.project-slider .container {
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
}
.project-slider .slide {
  width: 560px;
  aspect-ratio: 1.3/1;
  border-radius: 15px;
  background-color: #191919;
  overflow: hidden;
  position: relative;
  padding-left: 27px;
  padding-top: 36px;
  color: white;
  font-family: "Barlow Semi Condensed";
}
.project-slider .slide__title {
  font-weight: 600;
}
.project-slider .slide__text {
  font-size: 18px;
}
.project-slider .slide__image {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 8%;
  transform: rotate(-10deg);
}
.project-slider .slide__image img {
  border-radius: 0;
}
.project-slider .slide.active {
  position: relative;
}
.project-slider .slide.active > * {
  position: relative;
  z-index: 5;
}
.project-slider .slide.active::after, .project-slider .slide.active::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.project-slider .slide.active::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 2;
}
.project-slider .slide.active::after {
  z-index: 3;
  background-color: #191919;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.project-slider .slide.active .slide__image {
  position: absolute;
}
.project-slider .swiper-slide-active .slide {
  position: relative;
  box-shadow: 0 0 10px 5px rgb(184, 183, 183);
}
.project-slider .swiper-slide-active .slide > * {
  position: relative;
  z-index: 5;
}
.project-slider .swiper-slide-active .slide::after, .project-slider .swiper-slide-active .slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.project-slider .swiper-slide-active .slide::before {
  background: linear-gradient(200deg, #e05976, #9a60c2);
  z-index: 2;
}
.project-slider .swiper-slide-active .slide::after {
  z-index: 3;
  background-color: #191919;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  box-sizing: border-box;
}
.project-slider .swiper-slide-active .slide .slide__image {
  position: absolute;
}
.project-slider .swiper-slide {
  width: fit-content;
  margin-top: 20px;
  --add-bottom: 50px;
  padding-bottom: var(--add-bottom);
}
.project-slider .swiper-slide [class^=swiper-button-] {
  top: calc(50% - var(--add-bottom) / 2);
}
.project-slider .swiper-pagination {
  border-radius: 100%;
  --swiper-pagination-color: #e05976;
  --swiper-pagination-bullet-horizontal-gap: 5px;
}
.project-slider .swiper-pagination-bullet {
  color: #3c3c3c;
  opacity: 1;
}
.project-slider .swiper-button-next,
.project-slider .swiper-button-prev {
  --swiper-navigation-size: 24px;
  bottom: 5px;
  top: unset;
  color: #3c3c3c;
  z-index: 11;
}
.project-slider .swiper-button-next {
  right: calc(50% - 150px);
}
.project-slider .swiper-button-prev {
  left: calc(50% - 150px);
}

/*# sourceMappingURL=style.css.map */
