.btn{
  text-decoration: none;
  color:inherit;
  @include font(semibold);

  display: inline-block;
  padding: 0.55em 2.2em;
  width: fit-content;

  cursor: pointer;


  @include gradient-border($c-bg-basic);

}