html {
  // This defines what 1rem is
  font-size: 16px;
}
body {
  font-family: "Barlow";
  line-height: 1.5;
  font-size: $fs-d-normal;
}

h1 {
  font-size: 48px;
}

.custom-svg-icon-wp {
  background-image: url("/asset/icons/wp.svg");
  height: 45px;
  width: 45px;
}
.custom-svg-icon-leaflet {
  background-image: url("/asset/icons/leaflet.svg");
  height: 45px;
  width: 45px;
  background-size: cover;
}
