.image-text{
  .container {
    @include flex(row,$column-gap);}

  .text-wrapper, .image-wrapper{
    width: calc(  50% - ( $column-gap / 2 ) );
  }
  &--image-first{
    .image-wrapper{
      order:1;
    }
    .text-wrapper{
      order:2;
    }
  }
  &--text-first{
    .text-wrapper{
      order:1;
    }
    .image-wrapper{
      order:2;
    }
  }

  .image-wrapper{
    position: relative;
    .image{
      display: block;
      width: 84%;
      aspect-ratio: 6/4;
      height: auto;
    }
    picture{
      position: absolute;
      z-index: 10;
    }
  }
  .text-wrapper{
    @include flex(column);
    .heading{
      padding-bottom:$row-gap;
    }
    p:not(:last-child){
      padding-bottom:$row-gap--small;
    }
  }
}

